.lead-header {
    box-shadow: rgb(0 0 0 / 8%) 0px 25px 20px -20px;
}
.led-header .navbar-nav {
    display: flex;
    align-items: center;
}
.led-header .navbar-nav a, .led-header .navbar-nav button,
.dashboard-nav button {
    margin: 0 10px;
    padding: 8px 20px;
    font-size: 14px;
    font-weight: 600;
}
.led-header .navbar-nav a:last-child {
    margin-right: 0;
}
.led-header .navbar-nav a:after,
.led-header .navbar-nav a.active:after {
    width: 100%;
    height: 0;
}
.led-header .navbar-nav a:hover:after,
.led-header .navbar-nav a.active:after {
    height: 100%;
}
.led-header .navbar-nav a.active {
    color: #fff;
}