.products-wrapper img {
    width: 100%;
}
.single-product {
    position: relative;
    margin-bottom: 30px;
    overflow: hidden;
}

.product-info h3 {
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
}

.product-info p {
    font-size: 16px;
}

.product-info {
    position: absolute;
    bottom: -94px;
    padding: 0 15px;
    color: #fff;
    transition: all 0.4s;
}

.product-pic img {
    width: 100%;
}

.single-product:hover .product-info {
    bottom: 0;
}