.products-wrapper img {
    width: 100%;
}
.single-product {
    position: relative;
    margin-bottom: 30px;
    overflow: hidden;
}

.product-info h3 {
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 30px;
    height: 45px;
}

.product-info p {
    font-size: 16px;
}

.product-info {
    position: absolute;
    width: 100%;
    bottom: -165px;
    padding: 0 15px;
    color: #fff;
    transition: all 0.4s;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 30px 15px;
}

.product-pic img {
    width: 100%;
}

.single-product:hover .product-info {
    bottom: 0;
}
.product-pic img {
    height: 350px;
}

.sec-title {
    margin: 45px 0;
}
.sec-title h2 {
    text-transform: uppercase;
    font-weight: 600;
    margin: 0;
}