.dashboard-head h2 {
    padding: 20px 0px;
    font-weight: 600;
    margin: 0;
}

.dashboard-nav.navbar {
    display: block;
}

.dashboard-nav.navbar .container {
    flex-direction: column;
}

.dashboard-nav.navbar .container .row {
    margin-bottom: 45px;
}
.dashboard-nav .navbar-nav {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.dashboard-nav img {
    margin-bottom: 20px;
}
.dashboard-content {
    margin: 60px 0;
}
.dashboard-content {
    margin-bottom: 60px;
}

.payment-detail {
    margin: 60px 0;
}
.reviews-wrapper {
    margin-top: 60px;
    margin-bottom: 30px;
}
.manage-products .card {
    margin-bottom: 30px;
}