.led-form {
    max-width: 500px;
    margin: 30px auto;
    padding: 30px;
    border-radius: 5px;
    border: 1px solid #ddd;
    background-color: #F8F9FA;
}

.led-form input, .led-form textarea {
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid #313113;
    padding: 10px;
    border-radius: 5px;
    outline: none;
}